In [3]:

from __future__ import print_function
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
merge_fert = pd.read_csv('FertilizerData.csv')
merge_fert.head()

   Unnamed: 0         Crop   N   P   K   pH
0           0         rice  80  40  40  5.5
1           3        maize  80  40  20  5.5
2           5     chickpea  40  60  80  5.5
3          12  kidneybeans  20  60  20  5.5
4          13   pigeonpeas  20  60  20  5.5

In [5]:
merge_fert.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22 non-null     int64
 1   Crop        22 non-null     object
 2   N           22 non-null     int64
 3   P           22 non-null     int64
 4   K           22 non-null     int64
 5   pH          22 non-null     float64
dtypes: float64(1), int64(4), object(1)
memory usage: 1.2+ KB

In [6]:
del merge_fert['Unnamed: 0']
merge_fert.describe()

                N           P           K         pH
count   22.000000   22.000000   22.000000  22.000000
mean    50.454545   45.681818   48.181818   5.409091
std     36.315715   32.634172   51.698426   0.590326
min     20.000000   10.000000   10.000000   4.000000
25%     20.000000   20.000000   20.000000   5.500000
50%     30.000000   40.000000   30.000000   5.500000
75%     80.000000   60.000000   50.000000   5.500000
max    120.000000  125.000000  200.000000   6.500000

In [7]:
merge_fert['Crop'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [8]:
merge_crop = pd.read_csv('MergeFileCrop.csv')
reco_fert = merge_fert

In [9]:
merge_crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2200 non-null   int64
 1   temperature  2200 non-null   float64
 2   humidity     2200 non-null   float64
 3   ph           2200 non-null   float64
 4   rainfall     2200 non-null   float64
 5   label        2200 non-null   object
dtypes: float64(4), int64(1), object(1)
memory usage: 103.2+ KB

In [10]:
merge_crop.shape[0]

2200

In [11]:
import random
temp = pd.DataFrame(columns = ['N','P','K'])
for i in range(0,merge_crop.shape[0]):
    crop = merge_crop.label.iloc[i]
    N = reco_fert[reco_fert['Crop'] == crop]["N"].iloc[0] + random.randint(-20,20)
    P = reco_fert[reco_fert['Crop'] == crop]["P"].iloc[0] + random.randint(-5,20)
    K = reco_fert[reco_fert['Crop'] == crop]["K"].iloc[0] + random.randint(-5,5)
    d = {"N":N,"P":P,"K":K}
    temp = temp.append(d,ignore_index = True)
temp

        N   P   K
0      92  38  36
1      69  37  44
2      76  55  39
3      62  44  45
4      85  40  40
...   ...  ..  ..
2195   94  18  33
2196   96  15  26
2197   80  27  25
2198  104  38  34
2199  104  36  33

[2200 rows x 3 columns]

In [12]:
merge_crop['N'] = temp['N']
merge_crop['P'] = temp['P']
merge_crop['K'] = temp['K']
merge_crop

,Unnamed: 0,temperature,humidity,ph,rainfall,label,N,P,K
0,0,20.879744,82.002744,6.502985,202.935536,rice,92,38,36
1,1,21.770462,80.319644,7.038096,226.655537,rice,69,37,44
2,2,23.004459,82.320763,7.840207,263.964248,rice,76,55,39
3,3,26.491096,80.158363,6.980401,242.864034,rice,62,44,45
4,4,20.130175,81.604873,7.628473,262.717340,rice,85,40,40
...,...,...,...,...,...,...,...,...,...
2195,895,26.774637,66.413269,6.780064,177.774507,coffee,94,18,33
2196,896,27.417112,56.636362,6.086922,127.924610,coffee,96,15,26
2197,897,24.131797,67.225123,6.362608,173.322839,coffee,80,27,25
2198,898,26.272418,52.127394,6.758793,127.175293,coffee,104,38,34
2199,899,23.603016,60.396475,6.779833,140.937041,coffee,104,36,33

In [13]:
del merge_crop['Unnamed: 0']
merge_crop

      temperature   humidity        ph    rainfall   label    N   P   K
0       20.879744  82.002744  6.502985  202.935536    rice   92  38  36
1       21.770462  80.319644  7.038096  226.655537    rice   69  37  44
2       23.004459  82.320763  7.840207  263.964248    rice   76  55  39
3       26.491096  80.158363  6.980401  242.864034    rice   62  44  45
4       20.130175  81.604873  7.628473  262.717340    rice   85  40  40
...           ...        ...       ...         ...     ...  ...  ..  ..
2195    26.774637  66.413269  6.780064  177.774507  coffee   94  18  33
2196    27.417112  56.636362  6.086922  127.924610  coffee   96  15  26
2197    24.131797  67.225123  6.362608  173.322839  coffee   80  27  25
2198    26.272418  52.127394  6.758793  127.175293  coffee  104  38  34
2199    23.603016  60.396475  6.779833  140.937041  coffee  104  36  33

[2200 rows x 8 columns]

In [14]:
merge_crop = merge_crop[['N','P','K','temperature','humidity','ph','rainfall','label']]

merge_crop.to_csv("crop_recommendation.csv",index=False)

#Checking if everything went fine
df = pd.read_csv('crop_recommendation.csv')

df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  92  38  36    20.879744  82.002744  6.502985  202.935536  rice
1  69  37  44    21.770462  80.319644  7.038096  226.655537  rice
2  76  55  39    23.004459  82.320763  7.840207  263.964248  rice
3  62  44  45    26.491096  80.158363  6.980401  242.864034  rice
4  85  40  40    20.130175  81.604873  7.628473  262.717340  rice

In [15]:
df.shape

(2200, 8)

In [16]:
#Importing Libraries
from sklearn.model_selection import cross_val_score
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

In [17]:
df = pd.read_csv('crop_recommendation.csv')

df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  92  38  36    20.879744  82.002744  6.502985  202.935536  rice
1  69  37  44    21.770462  80.319644  7.038096  226.655537  rice
2  76  55  39    23.004459  82.320763  7.840207  263.964248  rice
3  62  44  45    26.491096  80.158363  6.980401  242.864034  rice
4  85  40  40    20.130175  81.604873  7.628473  262.717340  rice

In [18]:
df.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195   94  18  33    26.774637  66.413269  6.780064  177.774507  coffee
2196   96  15  26    27.417112  56.636362  6.086922  127.924610  coffee
2197   80  27  25    24.131797  67.225123  6.362608  173.322839  coffee
2198  104  38  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  36  33    23.603016  60.396475  6.779833  140.937041  coffee

In [19]:
df.size

17600

In [20]:
df.shape

(2200, 8)

In [21]:
df.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [22]:
df['label'].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

In [23]:
features = df[['N','P','K','temperature','humidity','ph','rainfall']]
target = df['label']
labels = df['label']

In [24]:
#Initialzing empty lists to append all model's name and corresponding name
acc = []
model = []

In [25]:
#spliting into train and test data
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features,target,test_size = 0.2, random_state =2)

In [26]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=20, random_state=0)
RF.fit(Xtrain,Ytrain)

predicted_values = RF.predict(Xtest)

x = metrics.accuracy_score(Ytest, predicted_values)
acc.append('RF')
model.append(x)
print("RF's Accuracy is :",x)
print(classification_report(Ytest,predicted_values))

RF's Accuracy is : 0.9863636363636363
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        13
      banana       1.00      1.00      1.00        17
   blackgram       1.00      1.00      1.00        16
    chickpea       1.00      1.00      1.00        21
     coconut       1.00      1.00      1.00        21
      coffee       1.00      1.00      1.00        22
      cotton       1.00      1.00      1.00        20
      grapes       1.00      1.00      1.00        18
        jute       0.90      0.96      0.93        28
 kidneybeans       1.00      1.00      1.00        14
      lentil       0.96      0.96      0.96        23
       maize       1.00      1.00      1.00        21
       mango       1.00      1.00      1.00        26
   mothbeans       0.95      0.95      0.95        19
    mungbean       1.00      1.00      1.00        24
   muskmelon       1.00      1.00      1.00        23
      orange       1.00      1.00      1.00        29
      papaya       1.00      1.00      1.00        19
  pigeonpeas       1.00      1.00      1.00        18
 pomegranate       1.00      1.00      1.00        17
        rice       0.93      0.81      0.87        16
  watermelon       1.00      1.00      1.00        15

    accuracy                           0.99       440
   macro avg       0.99      0.99      0.99       440
weighted avg       0.99      0.99      0.99       440

In [27]:
#Cross Validation score(Random Forest)
score = cross_val_score(RF,features,target,cv=5)
score

array([0.99318182, 0.99545455, 0.99318182, 0.99090909, 0.99090909])

In [28]:
import xgboost as xgb
XB = xgb.XGBClassifier()
XB.fit(Xtrain,Ytrain)

predicted_values = XB.predict(Xtest)

x = metrics.accuracy_score(Ytest,predicted_values)
acc.append(x)
model.append('XGBoost')
print("XGBoost's Accuracy is:",x)

print(classification_report(Ytest,predicted_values))

XGBoost's Accuracy is: 0.9863636363636363
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        13
      banana       1.00      1.00      1.00        17
   blackgram       1.00      1.00      1.00        16
    chickpea       1.00      1.00      1.00        21
     coconut       1.00      1.00      1.00        21
      coffee       1.00      1.00      1.00        22
      cotton       1.00      1.00      1.00        20
      grapes       1.00      1.00      1.00        18
        jute       0.96      0.89      0.93        28
 kidneybeans       1.00      1.00      1.00        14
      lentil       1.00      0.96      0.98        23
       maize       1.00      1.00      1.00        21
       mango       1.00      1.00      1.00        26
   mothbeans       0.95      1.00      0.97        19
    mungbean       1.00      1.00      1.00        24
   muskmelon       1.00      1.00      1.00        23
      orange       1.00      1.00      1.00        29
      papaya       1.00      1.00      1.00        19
  pigeonpeas       1.00      1.00      1.00        18
 pomegranate       0.94      1.00      0.97        17
        rice       0.83      0.94      0.88        16
  watermelon       1.00      0.93      0.97        15

    accuracy                           0.99       440
   macro avg       0.99      0.99      0.99       440
weighted avg       0.99      0.99      0.99       440

In [29]:
score = cross_val_score(XB,features,target,cv=5)
score

array([0.97727273, 0.99545455, 0.99090909, 0.99090909, 0.98636364])

In [30]:
accuracy_models = dict(zip(model,acc))
for k,v in accuracy_models.items():
    print(k,'-->',v)

0.9863636363636363 --> RF
XGBoost --> 0.9863636363636363

In [31]:
# 'N','P','K','temperature','humidity','ph','rainfall','label'
q=[]
N = input("Enter the value of N")
q.append(N)
P = input("Enter the value of P")
q.append(P)
K = input("Enter the value of K")
q.append(K)
t = input("Enter the temperature in celcius")
q.append(t)
h = input("Enter the value of humidity")
q.append(h)
ph = input("Enter the value of ph")
q.append(ph)
r = input("Enter the value of rainfall")
q.append(r)
# q=[104,18,30,23.603016,60.3,6.7,140.91]
data = np.array([q])
prediction = RF.predict(data)
print(prediction)

Enter the value of N104
Enter the value of P18
Enter the value of K30
Enter the temperature in celcius23.603016
Enter the value of humidity60.3
Enter the value of ph6.7
Enter the value of rainfall140.91
['coffee']

In [32]:
# 'N','P','K','temperature','humidity','ph','rainfall','label'
# q=[]
# N = input("Enter the value of N")
# q.append(N)
# P = input("Enter the value of P")
# q.append(P)
# K = input("Enter the value of K")
# q.append(K)
# t = input("Enter the temperature in celcius")
# q.append(t)
# h = input("Enter the value of humidity")
# q.append(h)
# ph = input("Enter the value of ph")
# q.append(ph)
# r = input("Enter the value of rainfall")
# q.append(r)
# q=[83,45,60,28,70.3,7.0,150.9]
data = np.array([[83,45,60,28,70.3,7.0,150.9]])
prediction = RF.predict(data)
print(prediction)

['jute']